#footerLinks p {
    padding: 10px;
    background: rgb(231, 231, 231);
    color: #0e79eb;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

#footerLinks p:hover {
    color: rgb(246, 247, 248);
    background: gray;
}

#width992 {
    display: none;
}

@media (max-width:992px) {
    #width1200 {
        display: none;
    }
    #width992 {
        display: block;
    }
    #width992 #footerLinks{
        float:left;

    }
}