#NavBarwithbluebg{
    background: #20274D !important;
    }
#Address li{
    list-style-type: none;
    color:#fff;
}
.navbar-light .navbar-toggler{
    color: rgba(250, 246, 246, 0.5);
    border-color: rgba(250, 246, 246, 0.5);
}